<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>www.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>707402FAD0EF5C1A9BD9F2C0CE63FFDA6D6EAE18</string>
				<key>dateExpires</key>
				<string>26/8/22</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PGV7X2PAZ4.com.u3dgame.www</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PGV7X2PAZ4</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>PGV7X2PAZ4.com.u3dgame.www</string>
				</array>
			</dict>
			<key>name</key>
			<string>www.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e0348bcc-f585-4e42-90e7-f5fa5d98b8bc</string>
				<key>name</key>
				<string>u3dgame_dayingjia</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PGV7X2PAZ4</string>
				<key>name</key>
				<string>Zhangjiagang Shuowen Network Technology Co.,Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
